AWS_ACCESS_KEY_ID=
AWS_REGION=
AWS_SECRET_ACCESS_KEY=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
DATABASE_URL=
HOSTINGER_SMTP_HOST=
HOSTINGER_SMTP_PASS=
HOSTINGER_SMTP_USER=
MAIL_FROM=
POSTGRES_URL=
POSTGRES_URL_NON_POOLING=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=
S3_BUCKET=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_USER=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_URL=